body, html {
    height: 100%;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
 }


/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
    margin-right: 0;
}


.navbar-nav {
  margin: 0;
  
}

.navbar-nav .nav-link {
  font-size: 90%; 
}

.nav-item.dropdown.active .nav-link {
    color: #007bff !important; 
}

.dropdown-menu {
    min-width: auto !important; 
    
}

.dropdown-menu .dropdown-item {
    color: #007bff;
    
}

.logos-container img {
    margin-right: 20px; 
    height: 30px; 
}


/*Topbar*/
.topbar {
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 3% 0; 
    padding: 15px; 
    width: 100%; 
}

/*Circulo topbar*/
.circle {
    background-color: #f0c14b;
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; 
  }
  
  .circle img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 50%;
  }

/*Titulo index*/
.title {
    text-align: center;
    margin: 30px 0;
  }
  
  .title h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .title-line {
    width: 600px;
    height: 3px;
    background-color: #f0c14b;
    margin: 0 auto;
  }


/*Footer (Todos)*/
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
  }


/*Catalogo Circulo*/
  .circle-outer {
    width: 150px;
    height: 150px;
    background-color: #f0c14b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.circle-inner {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-img img {
    width: 80px;
    border-radius: 50%;
}

.circle-title {
    text-align: center;
    margin-top: 10px;
}

.circle-title-text {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.circle-text {
    font-size: 1rem;
}


/*Boton comprar index*/
.btn-comprar {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: #fff;
    width: 100%; 
    background-color: #f0c14b; /
}



/*Perfil*/
.formulario-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario-box h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.formulario-box button {
    font-size: 24px;
    color: #333;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.formulario-box button:hover {
    color: #f0c14b;
}


/*Form contacto*/
.form-containercont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-boxcont {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .form-boxcont h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-fieldcont {
    margin-bottom: 20px;
  }
  
  .labelcont {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  
  .submit-buttoncont {
    background-color: #f0c14b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 100%;
    text-align: center;
  }

  
  /*Circle imagen*/
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  .circle-img img {
    transition: transform 0.3s; 
  }

  .circle-img:hover img {
    transform: scale(1.2); 
  }


/*Clown animation*/

.circle-imgC img {
  width: 80px;
  border-radius: 50%;
}

.circle-imgC img {
  transition: transform 0.3s; 
}

.circle-imgC:hover img {
  transform: rotate(360deg);
}

/*Circle products*/
.card {
  transition: transform 0.3s; 
}

.card:hover {
  transform: scale(1.05); 
}

/*Perso Menu*/

.custom-search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18%;
  
}
.custom-search .form-control {
  width: 60%;
  margin-right: 20px;
}


.custom-form.hidden {
  display: none;
}



.img-logo {
  height: 50px;
}


.map {
  text-align: center;
  margin: 20px ;
  }

 .map iframe {
    max-width: 100%;
  }
